body {
    background: #FFEAEC;
    color: #121212;
    height: max-content;
}

#title-text {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

#character-stats-div {
    background: #9ABD97;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 10px #6465367e;
}

#username-text {
    color: white;
    -webkit-text-stroke: 0.5px #646536;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#money-amount {
    background: #646536;
    border-radius: 10px;
    color: white;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#newspaper-div {
    background: #9ABD97;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0);
    box-shadow: 10px 10px 10px #6465367e;
    border: 1px solid #646536;
    cursor: pointer;
}

#newspaper-title {
    padding: 10px;
    text-align: center;
    color: white;
    font-style: italic;
    -webkit-text-stroke: 0.5px #646536;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#newspaper-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#menu-div {
    background: #9ABD97;
    width: 350px;
    height: 370px;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 10px #6465367e;
}

#menu-job-text {
    background: #646536;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    padding: 10px;
}

#menu-job-street-cleaner {
    background: #BBBE64;
    color: white;
    width: 86%;
    padding: 10px;
    border: solid 1px #646536;
    border-radius: 10px;
    position: absolute;
    top: 18%;
    left: 7%;
    font-size:medium;
    cursor: pointer;
}

#menu-job-uber-driver {
    background: #BBBE64;
    color: white;
    width: 86%;
    padding: 10px;
    border: solid 1px #646536;
    border-radius: 10px;
    position: absolute;
    top: 32%;
    left: 7%;
    font-size:medium;
    cursor: pointer;
}

#menu-job-help-the-neighbor {
    background: #BBBE64;
    color: white;
    width: 86%;
    padding: 10px;
    border: solid 1px #646536;
    border-radius: 10px;
    position: absolute;
    top: 46%;
    left: 7%;
    font-size:medium;
    cursor: pointer;
}

#menu-job-flyer-seller {
    background: #BBBE64;
    color: white;
    width: 86%;
    padding: 10px;
    border: solid 1px #646536;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 7%;
    font-size:medium;
    cursor: pointer;
}

#menu-job-more-coming-later {
    background: #646536;
    color: white;
    width: 80%;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size:medium;
}

#contacts-div {
    background: #9ABD97;
    width: 350px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 145%;
    border-radius: 20px;
    transform: translate(-50%, 0);
    box-shadow: 10px 10px 10px #6465367e;
}

#contacts-text {
    padding: 10px;
    text-align: center;
    color: #121212;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}