body {
    background: #FFEAEC;
    color: #121212;
}

b {
    text-decoration: underline;
    text-decoration-color: red;
}

#title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#login-box {
    background: #9ABD97;
    width: 330px;
    height: 300px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #6465367e;
}

#login-text {
    color: white;   
    font-style: italic;
    -webkit-text-stroke: 0.5px #646536;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.username-text-field {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 200px;
    height: 20px;
}

.password-text-field {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 200px;
    height: 20px;
}

.login-button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #646536;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .3s ease-in-out;
}

.login-button:active {
    box-shadow: none;
}

.sign-up-button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    width: 200px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background: #646536;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .3s ease-in-out;
}

.sign-up-button:active {
    box-shadow: none;
}

/* ATTENTION part */

#information-box {
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%);
    background: #9ABD97;
    width: 330px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 10px #6465367e;
}

#attention-text {
    font-size: 30px;
    padding: 15px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}